/* Table Styling */
.product_status table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_status /* Table Header */
thead {
  background-color: var(--primary-color);
  color: white;
}

.product_status thead th {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  border: 1px solid #ddd;
}

.product_status /* Table Body */
tbody tr {
  border-bottom: 1px solid #ddd;
}

.product_status tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product_status tbody td {
  padding: 10px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.product_status /* Hover Effect */
tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
